Source: osvr-rendermanager
Section: games
Priority: optional
Maintainer: Chris Duncan <cwduncan281@gmail.com>
Build-Depends: debhelper (>=9), cmake (>=3)
Standards-Version: 3.9.6
Homepage: https://github.com/sensics/OSVR-RenderManager
#Vcs-Git: git://anonscm.debian.org/collab-maint/osvr-rendermanager.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/osvr-rendermanager.git

Package: osvr-rendermanager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, osvr-core, libfunctionality
Description: 
 
