Source: osvr-openhmd
Section: games
Priority: optional
Maintainer: Chris Duncan <cwduncan281@gmail.com>
Build-Depends: debhelper (>=9), cmake (>=3)
Standards-Version: 3.9.6
Homepage: https://github.com/simlrh/OSVR-OpenHMD
#Vcs-Git: git://anonscm.debian.org/collab-maint/osvr-openhmd.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/osvr-openhmd.git

Package: osvr-openhmd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, osvr-core, openhmd
Description: OSVR plugin providing Oculus Rift DK1 & DK2 orientation tracking via OpenHMD
 
